*{
    background-color: #4095cb;
}

body{
    font-family: "a아시아헤드1", "맑은 고딕", "고딕", "굴림";
}

header{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #4095cb;
    padding: 20px;
    overflow: hidden;
     font-family: "a아시아헤드2", "맑은 고딕", "고딕", "굴림";
  
}

header h1{
    width: 50%;
    float: left;
    color: #fff;
}

header nav{
    width: 50%;
    float: right;   
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline;
    float: left;
    margin: 15px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

p{
   font-size: 15px;
    line-height: 20px;
}

section{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #e1f6ff;
    border: 5px solid #4095cb;
    padding: 15px;
}

footer{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    padding: 20px;
    background-color: #4095cb;
    color: white;
    text-align: center;
}


ul{
    list-style-type: square;
}

dt{
    font-size: 18px;
}