header{
    text-align: center;  
}

#혁오{
    padding-top: 20px;
}

.line {
    border-bottom: 2px solid;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fc1a1a;
}

#오혁{
    float: left;
    width: 200px;
    padding-right: 15px;
}

#임동건{
    float: left;
    width: 200px;
    padding-right: 15px;
}

#임현제{
    float: left;
    width: 200px;
    padding-right: 15px;
}

#이인우{
    float: left;
    width: 210px;
    padding-right: 15px;
}

.BAND{
    font-family: NotoSans;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
    color: #fff;
    width: 50%;
    background-color: #fc1a1a;
    padding: 15px;
}

dt{
   text-align: left;
   font-family: NotoSans;
   font-size: large;
   font-weight: bold;
   padding-top: 5px;    
}

dl{
  text-align: left;
   font-family: NotoSans;
   font-size: large;
   line-height: 15px;
   width: 50%;
    margin-right: auto;
    margin-left: auto;
}

nav ul{
    list-style-type: none;
    width: 80%;
    text-decoration: overline underline;
    text-align: center; 
    margin-right: auto;
    margin-left: auto;
    background-color: #fc1a1a;
    padding: 10px;
}

nav ul li{
    display: inline;
    margin: 65px;
     text-align: center; 
    background-color: #fc1a1a;
}

nav ul li a{
    color: #ffffff;
    font-size: large;
    text-decoration: none;
}

center{
    padding-top: 20px;
     margin-right: auto;
    margin-left: auto;
}


center{
    width: 80%;
}

@font-face{
    font-family: Spoqa Han Sans Regular;
    src:url('Spoqa Han Sans Regular.ttf');
    font-weight: normal; 
}

@font-face{
    font-family: NotoSans;
    src:url('NotoSansCJKkr-Bold.otf');
    font-weight: normal; 
}

@font-face{
    font-family: SeoulNamsanB;
    src:url('SeoulNamsanB.ttf');
    font-weight: bold; 
}

@font-face{
    font-family: SeoulNamsanL;
    src:url('SeoulNamsanL.ttf');
    font-weight: normal; 
}

footer{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    padding: 20px;
    color: #000000;
    text-align: center;
}